
.hidden{
    display: none !important;
}
.postCardContainer{
    display: none;
}
.custom-popup {
  border-radius: 18px !important;
  padding: 25px !important;
  border: 1px solid #e6e6e6 !important;
  box-shadow: 0px 10px 35px rgba(0,0,0,0.15) !important;
  backdrop-filter: blur(6px) !important;
}

.custom-title {
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #333 !important;
}

.custom-text {
  font-size: 15px !important;
  color: #555 !important;
}

.custom-btn {
  background: #4CAF50 !important;
  color: white !important;
  padding: 10px 25px !important;
  border-radius: 8px !important;
  font-size: 15px !important;
}

.custom-btn:hover {
  background: #43a047 !important;
  transform: scale(1.2);
}
#mainNav {
  height: 80px; /* bigger than your 100px image */
  display: flex;
  align-items: center;
  position: relative;
}
#mypostimg{
  position: absolute;
top: -34px;
}